<%= form_for(@player, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @player.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= I18n.t('activerecord.errors.template.header', :count => @player.errors.size, :model => @player.class.model_name.human) %>:</h4>
      <ul>
      <% @player.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
  <div class="field">
    <%= f.label t('views.register.fullname') %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label t('views.register.username') %><br>
    <%= f.text_field :username %>
  </div>
    <div class="field">
    <%= f.label t('views.register.email') %><br>
    <%= f.text_field :email %>
  </div>
    <div class="field">
    <%= f.label t('views.register.password') %><br>
    <%= f.password_field :password %>
  </div>
    <div class="col-sm-offset-1 col-sm-10">
      <%= f.submit t('views.register.register') , :class => 'btn btn-primary' %>
    </div>
  </div>
<% end %>