<div align="center" class="center">
  <ul class="nav nav-pills nav-stacked">
  <h1> <%= t('views.home.welcome') %> <%= session[:username] %>!</h1>
  <% if can? :write, Matchday %>
    <li role="presentation" ><a href="/matchdays"><%= t('views.home.matchdays') %></a></li>
    <li role="presentation" ><a href="/teams"><%= t('views.home.teams') %></a></li>
    <li role="presentation" ><a href="/game/simulate"><%= t('views.home.simulate') %></a></li>
    <li role="presentation" ><a href="/restart"><%= t('views.home.reset') %></a></li>
    <li role="presentation" ><%= link_to destroy_user_session_path, method: 'delete' do %><%= t('views.home.logout') %><% end %></li>
  <% elsif can? :write, Guess %>
    <li role="presentation" ><a href="/game/play"><%= t('views.home.play') %></a></li>
    <li role="presentation" ><a href="/game/history"><%= t('views.home.history') %></a></li>
    <li role="presentation" ><a href="/game/ranking"><%= t('views.home.ranking') %></a></li>
    <li role="presentation" ><%= link_to t('views.home.add_facebook'), user_omniauth_authorize_path(:facebook) %></a></li>

    <li role="presentation" ><%= link_to destroy_user_session_path, method: 'delete' do %><%= t('views.home.logout') %><% end %></li>
  <% end %>
  </ul>
</div>
