<div align="center" class="center">
	<% if flash[:notice] %>
		<div id="notice"><%= flash[:notice] %></div>
	<% end %>
  <h1> Welcome <%= session[:username] %>!</h1>
  <% if is_admin %>
  	<%= link_to 'Matchdays', controller: "matchdays", action: "index" %></br>
  <% else %>
  	<%= link_to 'Play', controller: "game", action: "play" %>
  	<%= link_to 'History', controller: "game", action: "history" %>
  <% end %>
  	<%= link_to 'Logout', controller: "main", action: "logout" %>
</div>
