<div align="center" class="center">	

<form class="form-signin" action="/login" method="post">
    <h2 class="form-signin-heading"><%= t('views.login.please_login') %></h2>
    <label for="inputUsername" class="sr-only"><%= t('views.login.username') %></label>
    <input type="text" name="username" class="form-control" placeholder="Username" required autofocus>
    <label for="inputPassword" class="sr-only"><%= t('views.login.password') %></label>
    <input type="password" name="password" class="form-control" placeholder="Password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit"><%= t('views.login.login') %></button>
</form>
	<ul class="nav nav-pills nav-stacked">
  	<li role="presentation" ><a href="/auth/facebook"><%= t('views.login.facebook') %></a></li>
  	<li role="presentation" ><a href="/"><%= t('views.back') %></a></li>
	</ul>
</div>