
<div class="page-header">
  <%= link_to home_path, class: 'btn btn-default' do %>
   <span class="glyphicon glyphicon-arrow-left"></span>
    Volver
  <% end %>
  <h1>Historial</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Fecha Semana</th>
        <th># Partidos</th>
        <th>Pronosticos</th>
        <th>Puntos</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @matchdays.each do |matchday| %>
        <tr>
          <td><%= matchday['created_at'].strftime("%d/%m/%Y") %></td>
          <td><%= matchday['matches'] %></td>
          <td><%= matchday['guesses'] %></td>
          <td><%= matchday['points'] %></td>
          <td><%= link_to 'Ver', controller: "game", action: "show", id: matchday['id'] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
