
<div class="page-header">
  <%= link_to home_path, class: 'btn btn-default' do %>
   <span class="glyphicon glyphicon-arrow-left"></span>
    <%= t('views.back') %>
  <% end %>
  <h1><%= t('views.history.title') %></h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th><%= t('views.history.matchday_date') %></th>
        <th><%= t('views.history.matches_amount') %></th>
        <th><%= t('views.history.guesses_amount') %></th>
        <th><%= t('views.history.points') %></th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @matchdays.each do |matchday| %>
        <tr>
          <td><%= matchday['created_at'].strftime("%d/%m/%Y") %></td>
          <td><%= matchday['matches'] %></td>
          <td><%= matchday['guesses'] %></td>
          <td><%= matchday['points'] %></td>
          <td><%= link_to t('views.show'), controller: "game", action: "show", id: matchday['id'] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
