<div align="center" class="center"> 

<% if flash[:notice] %>
  <div id="notice"><%= flash[:notice] %></div>
<% end %>

<h1>Listing Matchdays</h1>

<table>
  <thead>
    <tr>
      <th>Matchday</th>
      <th>Matches</th>
      <th>Guesses</th>
      <th>Points</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @matchdays.each do |matchday| %>
      <tr>
        <td><%= matchday['id'] %></td>
        <td><%= matchday['matches'] %></td>
        <td><%= matchday['guesses'] %></td>
        <td><%= matchday['points'] %></td>
        <td><%= link_to 'Show', controller: "game", action: "show", id: matchday['id'] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', controller: "main", action: "home" %>

</div>