<div class="page-header">
  <%= link_to home_path, class: 'btn btn-default' do %>
   <span class="glyphicon glyphicon-arrow-left"></span>
    Back
  <% end %>
  <h1>Guessing</h1>
</div>


<div align="center" class="center"> 

  <form class="form-complete" action="/game/play" method="post">
    <label for="inputhome_score" class="sr-only"><%= @match.home_team %></label>
    <input type="number" name="home_score" class="form-control" placeholder="<%= @match.home_team %>" required autofocus>
    <label for="inputaway_score" class="sr-only">Password</label>
    <input type="number" name="away_score" class="form-control" placeholder="<%= @match.away_team %>" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <%= hidden_field :guess, :match_id, :value => @match.id %>
    <%= hidden_field :guess, :user_id, :value => @player.id %>
    </form>
  </div>
