<div class="page-header">
  <%= link_to home_path, class: 'btn btn-default' do %>
   <span class="glyphicon glyphicon-arrow-left"></span>
    <%= t('views.back') %>
  <% end %>
  <h1><%= t('views.play.title') %></h1>
</div>

<div align="center" class="center"> 

  <%= form_for @guess, url: {action: "play"} do |f| %>
    <% if @guess.errors.any? %>
      <div class="alert alert-danger alert-dismissable" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4><%= pluralize(@guess.errors.count, "error") %> prohibited this match from being saved:</h4>

        <ul>
        <% @guess.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <div class="field">
        <%= f.label @match.home_team %><br>
        <%= f.text_field :home_score %>
      </div>
      <div class="field">
        <%= f.label @match.away_team  %><br>
        <%= f.text_field :away_score %>
      </div>
      <div class="col-sm-offset-1 col-sm-10">
        <%= f.submit t('views.play.save'), :class => 'btn btn-primary' %>
      </div>
      <%= f.hidden_field :match_id, :value => @match.id %>
      <%= f.hidden_field :user_id, :value => @player.id %>
    </div>
  <% end %>

</div>