<div align="center" class="center"> 

<div class="page-header">
  <%= link_to game_history_path, class: 'btn btn-default' do %>
   <span class="glyphicon glyphicon-arrow-left"></span>
    <%= t('views.back') %>
  <% end %>
  <h1><%= t('views.matches.title') %></h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th><%= t('views.matches.home_team') %></th>
        <th><%= t('views.matches.home_score') %></th>
        <th><%= t('views.matches.home_score_guess') %></th>
        <th><%= t('views.matches.away_team') %></th>
        <th><%= t('views.matches.away_score') %></th>
        <th><%= t('views.matches.away_score_guess') %></th>
        <th><%= t('views.matches.points') %></th>
      </tr>
    </thead>

    <tbody>
      <% @items.each do |item| %>
        <tr>
          <td><%= item['match']['home_team'] %></td>
          <td><%= item['match']['home_score'] %></td>
          <td><%if item['guess']%><%= item['guess']['home_score'] %><%else%> - <%end%></td>
          <td><%= item['match']['away_team'] %></td>
          <td><%= item['match']['away_score'] %></td>
          <td><%if item['guess']%><%= item['guess']['away_score'] %><%else%> - <%end%></td>
          <td><%if item['guess']%><%= item['guess']['points'] %><%else%> - <%end%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

</div>