<%= form_for(@guess) do |f| %>
  <% if @guess.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@guess.errors.count, "error") %> prohibited this guess from being saved:</h2>

      <ul>
      <% @guess.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :team_one %><br>
    <%= f.text_field :team_one %>
  </div>
  <div class="field">
    <%= f.label :team_two %><br>
    <%= f.text_field :team_two %>
  </div>
  <div class="field">
    <%= f.label :guess_result_id %><br>
    <%= f.text_field :guess_result_id %>
  </div>
  <div class="field">
    <%= f.label :result_id %><br>
    <%= f.text_field :result_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
