<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @guess.user_id %>
</p>

<p>
  <strong>Team one:</strong>
  <%= @guess.team_one %>
</p>

<p>
  <strong>Team two:</strong>
  <%= @guess.team_two %>
</p>

<p>
  <strong>Guess result:</strong>
  <%= @guess.guess_result_id %>
</p>

<p>
  <strong>Result:</strong>
  <%= @guess.result_id %>
</p>

<%= link_to 'Edit', edit_guess_path(@guess) %> |
<%= link_to 'Back', guesses_path %>
