<div align="center" class="center"> 

<div class="page-header">
  <%= link_to new_matchday_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Nueva fecha
  <% end %>
  <%= link_to home_path, class: 'btn btn-default' do %>
   <span class="glyphicon glyphicon-arrow-left"></span>
    Volver
  <% end %>
  <h1>Listado de fechas</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Semana</th>
        <th># de partidos</th>
        <th>Estado</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @matchdays.each do |matchday| %>
        <tr>
          <td><%= matchday.created_at.strftime("%d/%m/%Y") %></td>
          <td><%= matchday.matches.count %></td>
          <td><% if matchday.finished %>Finalizada<%elsif matchday.started %>Comenzada<%else%>Creada<%end%></td>
          <td><%= link_to 'Ver', matchday %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

</div>