<div align="center" class="center">

<div class="page-header">
<% if !@matchday.started %>
    <%= link_to start_matchday_path, class: 'btn btn-default' do %>
   <span class="glyphicon glyphicon-play"></span>
    Comenzar!
  <% end %>
    <%= link_to matches_new_path, class: 'btn btn-default' do %>
   <span class="glyphicon glyphicon-plus"></span>
    Nuevo partido
  <% end %>
  <% elsif !@matchday.finished %>
      <%= link_to end_matchday_path, class: 'btn btn-default' do %>
   <span class="glyphicon glyphicon-stop"></span>
    Finalizar!
  <% end %>
  <%end%>
    <%= link_to matchdays_path, class: 'btn btn-default' do %>
   <span class="glyphicon glyphicon-arrow-left"></span>
    Volver
  <% end %>
  <h1>Mostrar fecha</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Local</th>
        <th>Visitante</th>
        <th>Goles Local</th>
        <th>Goles visitante</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @matches.each do |match| %>
        <tr>
          <td><%= match.home_team %></td>
          <td><%= match.away_team %></td>
          <td><% if match.finished %><%= match.home_score %><% else %> - <%end%></td>
          <td><% if match.finished %><%= match.away_score %><% else %> - <%end%></td>
          <% if !@matchday.finished & @matchday.started & (match.finished == false) %>
          <td><%= link_to 'Agregar resultado', edit_match_path(match) %></td>
          <% elsif !@matchday.started %>
          <td><%= link_to 'Borrar', match, method: :delete, data: { confirm: 'Esta seguro que desea borrar?' } %></td>
          <% else %>
            <td> - </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

</div>
